<div>
   <ul class="list-group">
       <li class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Add Mailing Address</li>
   </ul>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Add Contact</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Add Location</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Add Note</li>
    </ul>
</div>
<input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details"/>